<div class="relative component-container" ng-repeat="(index, item) in content.component">
    <div class="clearfix">
        <h1 class="" contenteditable="true" save-content="save(item,'title')" insert-html="item.title || '这里是个大标题'"></h1>
    </div>
    <div class="relative" ng-repeat="child in item.children">
        <p class="edit-box" contenteditable="true" cms-editable save-content="save(child,'text')" insert-html="child.text || '这里是内容'"></p>
        <div class="editor-btns text-overflow">
            <a ng-click="removeChild($index,item.children, index)" href="javascript:;" class="delete-component"><span class="glyphicon glyphicon-trash"></span></a>
            <a ng-click="addChild($index,item.children)" href="javascript:;" class="insert-component"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
    <div class="clearfix">
        <p class="btn btn-primary" href="javascript:;" role="button" ng-click="close()">learn more</p>
    </div>
    <div class="editor-btns module-btns text-overflow">
        <a ng-click="remove(index)" href="javascript:;" class="delete-component"><span class="glyphicon glyphicon-trash"></span></a>
        <a ng-click="add(index)" href="javascript:;" class="insert-component"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>
