<div iscroll="hotList.success;extraList.success" class="page-content not-header bg-gray">
    <div class="padding-bottom">
        <div class="container-fluid">
            <p class="text-center">
                <br>
                <br>
                <img style="width:148px;" src="../resources/images/home.png" alt="">
            </p>
            <div class="area-wrap">
                <a tap ui-sref="query({searchType:'请输入企业名，人名，产品名'})" style="line-height:28px;" class="form-control home-text text-gray">请输入企业名，人名，产品名</a>
            </div>
            <div class="area-wrap">
                <div class="home-slider" slider>
                    <ul class="clearfix list-unstyled home-nav text-center relative">
                        <li>
                            <a tap ui-sref="query({searchType:'请输入企业名称'})">
                                <span class="icon icon-company text-green"></span>
                                <div class="text-sm text-default">企业名称</div>
                            </a>
                        </li>
                        <li>
                            <a tap ui-sref="query({searchType:'请输入高管股东'})">
                                <span class="icon icon-leader text-blue"></span>
                                <div class="text-sm text-default">高管股东</div>
                            </a>
                        </li>
                        <li>
                            <a tap ui-sref="query({searchType:'请输入法人'})">
                                <span class="icon icon-legal text-red"></span>
                                <div class="text-sm text-default">法人</div>
                            </a>
                        </li>
                        <li>
                            <a tap ui-sref="query({searchType:'请输入产品'})">
                                <span class="icon icon-brand text-orange"></span>
                                <div class="text-sm text-default">产品</div>
                            </a>
                        </li>
                        <li>
                            <a tap ui-sref="query({searchType:'请输入专利'})">
                                <span class="icon icon-patent2 text-red"></span>
                                <div class="text-sm text-default">专利</div>
                            </a>
                        </li>
                        <li>
                            <a tap ui-sref="personalQuery">
                                <span class="icon icon-warning3 text-red"></span>
                                <div class="text-sm text-default">个人失信</div>
                            </a>
                        </li>
                        <li>
                            <a tap ui-sref="query({searchType:'请输入著作权'})">
                                <span class="icon icon-copy-right2 text-green"></span>
                                <div class="text-sm text-default">著作权</div>
                            </a>
                        </li>
                        <li>
                            <a tap ui-sref="query({searchType:'请输入联系电话'})">
                                <span class="icon icon-phonebook text-orange"></span>
                                <div class="text-sm text-default">联系电话</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="home-dot text-center">
                </div>
            </div>
        </div>
        <div class="container-fluid distance-bottom">
            <div class="container-fluid home-module bg-white">
                <div class="clearfix border-bottom">
                    <h4 class="pull-left">实时热搜</h4>
                    <a class="text-gray area-wrap pull-right text-sm" href="javascript:;" tap="changeSet()"><span class="icon icon-change-set"></span> 换一组</a>
                </div>
                <div class="row area-wrap home-module-links">
                    <div class="col-xs-6 area-wrap" ng-repeat="item in hotWords">
                        <a ui-sref="companyHome({corpId:item.wordsCorpList[0].corpId,corpName:item.wordsCorpList[0].corpName})" tap>{{item.hotWords}}<i ng-if="item.type==1" class="hot"><span class="icon icon-hot-new text-sm"></span></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container-fluid home-module bg-white">
                <h4 class="area-wrap clear-bottom-padding">推荐阅读
                </h4>
                <div class="area-wrap home-module-links">
                    <p ng-repeat="item in extraList.data">
                        <a tap ui-sref="article({id:item.id})" ng-if="$index == 0" href="javascript:;" class="relative">
                            <img ng-src="{{item.photoUrl}}" alt="">
                            <span class="home-first-title text-overflow">
								{{item.title}}
							</span>
                        </a>
                        <a tap ui-sref="article({id:item.id})" class="text-overflow" ng-if="$index > 0" href="javascript:;"><span class="text-orange">[{{item.type}}]</span>&nbsp;&nbsp;{{item.title}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bar">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-xs-4">
                <a class="footer-links pull-left active" href="javascript:;">
                    <div><span class="icon icon-search2 text-big"></span>
                    </div>
                    <div class="text-gray text-sm">去了解</div>
                </a>
            </div>
            <div class="col-xs-4">
                <a ui-sref="attentionInfo" class="footer-links">
                    <div><span class="icon icon-star text-big"><i ng-if="attentionChanged"></i></span>
                    </div>
                    <div class="text-gray text-sm">我的关注</div>
                </a>
            </div>
            <div class="col-xs-4">
                <a ui-sref="userCenter" class="footer-links pull-right">
                    <div><span class="icon icon-head5 text-big"></span>
                    </div>
                    <div class="text-gray text-sm">个人中心</div>
                </a>
            </div>
        </div>
    </div>
</div>
