<div class="relative component-container" ng-repeat="(index, item) in content.component">
	<div class="relative" ng-repeat="child in item.children">
		<h5 class="edit-box" contenteditable="true" save-content="save(child,'title')" insert-html="child.title || '标题'">
	   </h5>
		<div class="edit-box" contenteditable="true" cms-editable save-content="save(child,'text')" insert-html="child.text || '这里是内容'">
		</div>
		<div class="editor-btns text-overflow">
			<a ng-click="removeChild($index,item.children, index)" href="javascript:;" class="delete-component"><span class="glyphicon glyphicon-trash"></span></a>
			<a ng-click="addChild($index,item.children)" href="javascript:;" class="insert-component"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
	</div>
    <div class="editor-btns module-btns text-overflow">
        <a ng-click="remove(index)" href="javascript:;" class="delete-component"><span class="glyphicon glyphicon-trash"></span></a>
        <a ng-click="add(index)" href="javascript:;" class="insert-component"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>
