* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", "微软雅黑", "Microsoft YaHei";
}
a {
    color: #22a1bf;
}
strong {
    color: #f60;
}
body {
    background: #f7f7f7;
}
.cn {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.title {
    height: 100px;
    background-color: #48ad7e;
    margin-bottom: 20px;
}
.title-wrap {} .main {
    padding: 30px;
    background-color: #fff;
    color: #888;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 30px;
}
.main p {
    padding-top: 4px;
}
.project-des {
    margin-bottom: 50px;
}
.project-des p {
    padding-left: 46px;
}
.child-folder {
    padding-left: 50px;
}
.folder {
    padding-left: 30px;
    background: url(folder.png) left top no-repeat;
    display: inline-block;
    background-size: 20px;
    width: 120px;
    color: #000;
}
.file-js,
.file-scss,
.file-img,
.file-css,
.file-json,
.file-font{
    display: inline-block;
    padding-right: 30px;
    color: #000;
}
.file-js:before,
.file-scss:before,
.file-css:before,
.file-img:before,
.file-json:before,
.file-font:before{
    display: inline-block;
    width: 30px;
    height: 15px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 10px;
}
.file-js:before {
    content: "js";
    background-color: #af3a3a;
}
.file-scss:before {
    content: "scss";
    background-color: #3aaf70;
}
.file-css:before {
    content: "css";
    background-color: #d4cc6d;
}
.file-img:before {
    content: "img";
    background-color: #4d5a9f;
}
.file-json:before {
    content: "json";
    background-color: #539f4d;
}
.file-font:before {
    content: "font";
    background-color: #8c16c1;
}
.step-list {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    margin-right: 30px;
}
.code-demo {
    padding: 30px;
    background-color: #000;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.folder-root .child-folder .child-folder .child-folder{
	border-left: 1px dashed #ccc;
}
