@charset "UTF-8";

@import "../../../library/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "./variables.scss";
@import "./mixins.scss";
@import "./iconfont.scss";
@import "./animate.scss";


//公共样式


html{
	font-size: 10px;
	color: #fff;
    height: 100%;
}
body{
    height: 100%;
    min-height: 100%;
	background-color: $body-bg;
    .page-wrap{
        width: 100%;
        height: 100%;
        overflow: hidden;
		.page{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0 0 20px rgba(0,0,0,.4);
//			background-color: #fff;
		}
    }
}
a{
	&:active, &:hover, &:focus{
		text-decoration: none;
		color: inherit;
		outline: none;
	}
}
.relative{
	position: relative;
}
.text-default{
	color: $gray-dark;
}
.text-gray{
	color: $font-color-gray !important;
}
.text-blue{
	color: $blue !important;
}
.text-red{
	color: $red !important;
}
.text-orange{
	color: $orange !important;
}
.text-green{
	color: $green !important;
}
.text-white{
	color: #fff;
}
.text-overflow{
	@include text-overflow;
}
.bg-white{
	background-color: $container-bg !important;
}
.bg-gray{
	background-color: $body-bg !important;
}
.border-top{
	border-top: 1px solid $border-color;
}
.border-bottom{
	border-bottom: 1px solid $border-color;
}
.clear-padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.clear-left-padding{
	padding-left: 0 !important;
}
.clear-right-padding{
	padding-right: 0 !important;
}
.clear-bottom-padding{
	padding-bottom: 0 !important;
}

.text-big{
	font-size: 1.4em;
}
.text-sm{
	font-size: 85%;
}
.distance-top{
	margin-top: 15px;
}
.distance-bottom{
	margin-bottom: 15px;
}
.distance-left{
	margin-left: 10px;
}
.distance-right{
	margin-right: 10px;
}
.padding-bottom{
	padding-bottom: 15px;
}
.dropdown{
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	transform: scaleY(0);
	transform-origin: top;
	transition: all .3s;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	&.active{
		transform: scaleY(1);
	}
}
.header-bar-selector{
//	top: $header-bar-height;
//	z-index: 10;
	margin-left: -15px;
	margin-right: -15px;
}
dl{
	@include clearfix;
	margin-bottom: 0;
	&.dl-normal{
		dt:after{
			content: "";
		}
	}
	dt{
		float: left;
		position: relative;
		font-weight: normal;
		color: $font-color-gray;
		i{
			padding-left: .5em;
			padding-top: 1em;
		}
		&:after{
			content: ":";
			position: absolute;
			line-height: inherit;
			right: -.3em;
		}
	}
	dd{
		&:last-child{
			p{
				margin-bottom: 0;
			}
		}
	}
	&.dl-horizontal{
		dd{
			&:after{
				content: " ";
				display: inline-block;
			}
		}
	}
	dd{
		p{
			&:after{
				content: " ";
				display: inline-block;
			}
		}
	}
}
.dl-6{
	dt{
		width: 90px;
	}
	dd{
		margin-left: 105px;
	}
}
.dl-4{
	dt{
		width: 60px;
	}
	dd{
		margin-left: 75px;
	}
}
.dl-2{
	dt{
		width: 30px;
	}
	dd{
		margin-left: 45px;
	}
}

.form-control{
	border-radius: 0;
	height: 40px;
	&:focus{
		border-color: $red + 40;
		box-shadow:  inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 127, 102, 0.6);
	}
}
.btn{
	border-radius: 0;
	height: 40px;
	background-color: $red;
	border:0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	&:focus,&:active,&:hover{
		background-color: ($red - 20) !important;
		border: 0 !important;
	}
}
.btn-block{
	background-color: $red;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 46px;
	height: 46px;
}
//页头
.header-bar{
	height: $header-bar-height;
	border-bottom: 1px solid $border-color;
	position: absolute;
	z-index: 1000;
	left: 0;
	right:0;
	top: 0;
	background-color: $container-bg;
	.row{
		line-height: $header-bar-height - 1;
	}
	.page-title{
		margin-top: auto;
		margin-bottom: auto;
		line-height: inherit;
		height: inherit;
	}
}
.page-content{
	position: absolute;
	left: 0;
	right: 0;
	top: $header-bar-height;
	bottom: $footer-bar-height;
//	overflow-y: auto;
	&.not-header{
		top: 0;
	}
	&.not-footer{
		bottom: 0;
	}
}
//进度条
@-webkit-Keyframes progressBar{
	0%{
		-webkit-transform: translate(-100%, 0px);
		transform: translate(-100%,0px);
	}
	100%{
		-webkit-transform: translate(100%,0px);
		transform: translate(100%,0px);
	}
}
@Keyframes progressBar{
	0%{
		-webkit-transform: translate(-100%, 0px);
		transform: translate(-100%,0px);
	}
	100%{
		-webkit-transform: translate(100%,0px);
		transform: translate(100%,0px);
	}
}
.progress-bar{
	display: none;
	height: 2px;
	background-color: #f00;
	position: absolute;
	top: 0;//$header-bar-height - 2;
	left: 0;
	width: 100%;
	z-index: 1999;
	background-color: $red + 150;
	div{
		background-image: -webkit-linear-gradient(left,$red + 150,$red + 150, $red,$red + 150, $red + 150);
		background-image: linear-gradient(left,$red + 150,$red + 150,$red,$red + 150,$red + 150);
		height: 100%;
		-webkit-animation: progressBar  linear 2s infinite;
		animation: progressBar  linear 2s infinite;
	}
}

.update-prompt{
	position: absolute;
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	left: 0;
	z-index: 1;
	&.update-loading{
		&:before{
			content: '';
			width: 24px;
			height: 24px;
			background-image: url(../../../../images/loading.gif);
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -75px;
			margin-top: -12px;
			background-size: 100%;
		}
	}
	&.update-prompt-up{
		top: 0;
	}
	&.update-prompt-down{
		bottom: 0;
	}
}
.pagination-content{
	position: relative;
	z-index: 2;
}



//页尾
.footer-bar {
	position: absolute;
	z-index: 1000;
	left: 0;
	right:0;
	bottom:0;
	height: $footer-bar-height;
	border-top: 1px solid $border-color;
//	line-height: $footer-bar-height - 1;
	background-color: $container-bg;
}
.footer-links{
	display: block;
	color: inherit;
	.icon{
		position: relative;
		i{
			position: absolute;
			width: 5px;
			height: 5px;
			top: -1px;
			right: -3px;
			border-radius: 50%;
			background-color: $red;
		}
	}
	&.active{
		div{
			color: $red !important;
		}
	}
	&:active{
		background-color: $touch-active;
	}
}


.list-group{
	background-color:$container-bg;
	overflow: hidden;
	.list-group-item{
		padding: 15px 15px;
		border-bottom: 1px solid $border-color;
		display: block;
		color: inherit;
		position: relative;
		&:active{
			background-color: $touch-active;
		}
		&:focus{
			text-decoration: none;
			outline: none;
		}
	}

	.list-group .list-group-item:last-child{
		border-bottom: none;
	}
}
.list-group-gray{
	background-color:$body-bg;
	.list-group-item{
		&:active{
			background-color: $body-bg - 10;
		}
	}
}


.area-wrap{
	padding-top: 10px;
	padding-bottom: 10px;
}

.back-page{
	display: block;
	padding-right: 30px;//加大可点击范围
}
.input-group{
	.input-group-addon{
		background-color: #fff;
		border-radius: 0;
	}
}

.form-horizontal label{
	line-height: 40px;
}

//页面loading动画
//.loading {
//	margin: 4em auto;
//	width: 3em;
//	height: 2em;
//	background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
//	background-repeat: no-repeat;
//	background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
//	animation: loading 1.5s linear infinite;
//}
//@keyframes loading {
//	25% {
//		background: linear-gradient(#3498db, #3498db) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
//		background-repeat: no-repeat;
//		background-size: 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
//	}
//	37.5% {
//		background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#3498db, #3498db) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
//		background-repeat: no-repeat;
//		background-size: 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
//	}
//	50% {
//		background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#3498db, #3498db) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
//		background-repeat: no-repeat;
//		background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em;
//	}
//	62.5% {
//		background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#3498db, #3498db) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
//		background-repeat: no-repeat;
//		background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em;
//	}
//	75% {
//		background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#3498db, #3498db) 2.5em 50%;
//		background-repeat: no-repeat;
//		background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em;
//	}
//}


.loading {
	$width:54px;
    position: absolute;
	width: $width;
	height: $width;
	margin-top: $width / -2;
	margin-left: $width / -2;
	top: 40%;
	left: 50%;
	.dot {
		position: absolute;
		opacity: 0;
		width: $width;
		height: $width;
		-webkit-transform: rotate(225deg);
		transform: rotate(225deg);
		-webkit-animation-name: loading;
		animation-name: loading;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-duration: 5.28s;
		animation-duration: 5.28s;
		&:after {
			content: "";
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $gray;
		}
	}
}
.loading{
	.dot{
		@for $i from 1 through 5 {
			&:nth-child(#{$i}){
				-webkit-animation-delay: (1 / 5 * $i - 1)+s;
				animation-delay: (1 / 5 * $i - 1)+s;
			}
		}
	}
}
@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(225deg);
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }
    8% {
        -webkit-transform: rotate(345deg);
        -webkit-animation-timing-function: linear;
    }
    30% {
        -webkit-transform: rotate(455deg);
        -webkit-animation-timing-function: ease-in-out;
    }
    40% {
        -webkit-transform: rotate(690deg);
        -webkit-animation-timing-function: linear;
    }
    60% {
        -webkit-transform: rotate(815deg);
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }
    75% {
        -webkit-transform: rotate(965deg);
        -webkit-animation-timing-function: ease-out;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes loading {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    8% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }
    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    }
    40% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }
    60% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate(965deg);
        animation-timing-function: ease-out;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.data-empty{
	padding-top: 58px;
	text-align: center;
	img{
		width: 87px;
	}
}




.modal-wrap{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.3);
	z-index: 2000;
	opacity: 0;
	-webkit-transition: all .5s;
	transition: all .5s;
	display: none;
	.modal{
		width: 240px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -120px;
		margin-top: -100px;
		background-color: #fff;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
		box-shadow: 0 0 20px rgba(0,0,0,.5);
		-webkit-transform: scale3d(0,0,1);
		transform: scale3d(0,0,1);
		-webkit-transition: all .5s;
		transition: all .5s;
		border-radius: 5px;
		overflow: hidden;

	}
	.popUp-box{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 15px;
		margin: 40px 20px;
		background-color: #fff;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
		box-shadow: 0 0 20px rgba(0,0,0,.5);
		-webkit-transform: scale3d(0,0,1);
		transform: scale3d(0,0,1);
		-webkit-transition: all .5s;
		transition: all .5s;
		border-radius: 5px;
		>div{
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}
	&.modal-show{
		opacity: 1;
		.modal,.popUp-box{
			-webkit-transform: scale3d(1,1,1);
			transform: scale3d(1,1,1);
		}
	}
}

@keyframes promptSlider {
	0% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	20%{
		-webkit-transform: translate3d(0,90px,0);
		transform: translate3d(0,100px,0);
	}
	80% {
		-webkit-transform: translate3d(0,90px,0);
		transform: translate3d(0,100px,0);
	}
	100% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}
@-webkit-keyframes promptSlider {
	0% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	20%{
		-webkit-transform: translate3d(0,90px,0);
		transform: translate3d(0,100px,0);
	}
	80% {
		-webkit-transform: translate3d(0,90px,0);
		transform: translate3d(0,100px,0);
	}
	100% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

.prompt-msg{
	position: absolute;
	top: -60px;
	z-index: 2300;
	left:0;
	right: 0;
	-webkit-animation: promptSlider ease-in-out 3s;
	animation: promptSlider ease-in-out 3s;
	.prompt{
		border-radius: 3px;
		color:#fff;
		position: absolute;
		top: 0;
		left: 50%;
		height:20px;
		line-height: 20px;
		background-color: rgba(0,0,0,.7);
		-wegkit-box-shadow: 3px 1px 8px rgba(0,0,0,.5);
		box-shadow: 2px 2px 4px rgba(0,0,0,.5);
		padding: 0 4px;
		box-sizing: content-box;
	}
}


